<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsbay.mechanical_engineering_toolkit">
   <!-- Required for the in-app "Remove Ads" purchase. The Play Billing library
        merges this in on its own; it is declared here so the app's own
        manifest states the permission it depends on. -->
   <uses-permission android:name="com.android.vending.BILLING" />
   <application
        android:label="@string/app_name"
        android:icon="@mipmap/launcher_icon"
        android:enableOnBackInvokedCallback="true">

       <meta-data
           android:name="com.google.android.gms.ads.APPLICATION_ID"
           android:value="${AdMobAppId}"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- metoolkit://tool/703 and metoolkit://library, from the Home
                 Screen widgets and the launcher shortcuts; routed by
                 lib/util/deep_links.dart. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="metoolkit"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <!-- Home Screen widgets: Favourite Tools and Recent Tools. -->
        <receiver
            android:name=".FavoriteToolsWidget"
            android:exported="false"
            android:label="@string/widget_favorites_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_favorite_tools_info"/>
        </receiver>
        <receiver
            android:name=".RecentToolsWidget"
            android:exported="false"
            android:label="@string/widget_recents_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_recent_tools_info"/>
        </receiver>
        <service
            android:name=".QuickToolsWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
